.footer{
    padding: 15px;
    // position: relative;
    // bottom: 20px;
  }

  

  img{
    width: 100%;
  }
  
  
  .pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 5rem;
    margin: 3rem;
    border-radius: 0.6rem;
    background: #ffffff;
    box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
  
    &__numbers {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      font-size: 20px;
      cursor: pointer;
    }
  
    &__numbers {
      width: 2rem;
      height: 2.6rem;
      border-radius: 5px;
      border: 1px solid transparent;
  
      &:hover {
        border: 1px solid #000000;
      }
  
      &.active {
        color: #ffffff;
        background: #000000;
        border: 1px solid #ffffff;
      }
    }
  
    &__btn {
      width: 40px;
    }
  }
  